attrs==26.1.0
btrfsutil==6.19.1
cffi==2.0.0
cryptography==46.0.6
cupshelpers==1.0
dbus-python==1.4.0
filelock==3.25.2
gps==3.27.5
greenlet==3.3.2
msgpack==1.1.2
packaging==26.0
pycairo==1.29.0
pycparser==3.0
pycups==2.0.4
PyGObject==3.54.5
pynvim==0.6.0
pyxdg==0.28
wheel==0.46.3
